.main-table {
    width: 100%;
    max-width: 100%;
    table-layout:fixed;
    overflow: hidden;
    clear: both;
}

table {

    &.dataTable {

        thead,
        tfoot,
        tbody {

            td, th {
                padding: 9px 3px;

                input[type="text"] {
                    width: 100%;
                    box-sizing: border-box;
                }

            }

        }

    }

}