.main-table {
    width: 100%;
    max-width: 100%;
    padding-top: 15px;
    overflow: hidden;
    clear: both;
}

table {

    &.dataTable {

        thead,
        tfoot,
        tbody {

            td, th {
                padding: 9px 3px;
                word-break: break-all;

                input[type="text"] {
                    width: 100%;
                    box-sizing: border-box;
                }

            }

        }

        thead {

            tr.with-borders {

                th {
                    border-left: 1px solid #000000;

                    &:last-of-type {
                        border-right: 1px solid #000000;
                    }

                }

                &.border-top {

                    th {
                        border-top: 1px solid #000000;
                    }

                }

            }

            tr + tr {

                th {
                    border-left: 1px solid #000000;

                    &:last-of-type {
                        border-right: 1px solid #000000;
                    }
                    
                }

            }

        }

    }

}